.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.589);
  -webkit-transition: 0.4s; /* Safari prior 6.1 */
  transition: 0.4s;
}
.Business:hover {
  box-shadow: 0px 0px 25px gray;
  -webkit-transition: 0.3s; /* Safari prior 6.1 */
  transition: 0.3s;
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

a img {
  object-fit: cover;
  height: 100%;
}

.image-container a {
  margin: 0;
  padding: 0;
}
.Business .Google-maps-link {
  color: black;
  text-decoration: none;
}

.Business .Google-maps-link:hover {
  text-decoration: underline;
}


.Business h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0.4rem;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews a{
  text-decoration: none;
  color: black;
}

.Business-reviews a:hover{
  text-decoration: underline;
  color: black;
}

.Business-reviews .rating {
  font-size: .88rem;
  line-height: 1rem;
}